.container {
    display: flex;
    width: 1080px;
    height: 1024px;
    top: 622px;
    left: -2277px;

}

.input-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    margin-top: 20px;
}

.output-container textarea{
    flex: 2;
    padding: 20px;
    width: 150px;
    height: 944px;
    top: 40px;
    left: 100px;
    border-radius: 32px;
    background: #FFFFFF;
;

}


